.idea
public
node_modules
npm-debug.log

server/thumbnails/*
!server/thumbnails/.gitkeep

#ignore sessions but keep folder
server/sessions/*
!server/sessions/.gitkeep

# ignore media but keep folder
server/media/*
!server/media/.gitkeep

# Ignore database
server/data/db/*.wt
server/data/db/*.lock
server/data/db/*.bson
server/data/db/WiredTiger*
server/data/db/journal/
server/data/db/diagnostic.data/